<div class="container">
  <h1>About ∑paste</h1>
  <hr>
  <blockquote>
    <p>{{fortune.quote}}</p>
    <footer>{{fortune.author}}</footer>
  </blockquote>
  <hr>
  <p> ∑paste was created to answer a challenge posed during CSCI-476 at Montana
    State University, to create an <a href="lpaste.net">lpaste</a> clone using the
    <a href="https://keybase.io/triplesec">keybase triplesec</a> encryption library
    in node.</p>
</div>
